/*Chamando a fonte definida no figma*/
@font-face {
    font-family: 'Raleway';
    src: url(../font/Raleway/Raleway-VariableFont_wght.ttf);
}


/*Define a imagem de fundo do baner e transforma os itens dentro a section em Flex items*/
.banner {
    background-image: url("/img/Banner__mobile.png");
    width: 100vw;
    height: 192px;
    background-repeat: no-repeat;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 8px;
}

/*Configurações do titulo do banner*/
.banner__titulo {
    font-family: "Raleway";
    font-size: 22px;
    font-weight: 700;
    color: #FFFFFF;
    margin: 0 16px 0 16px;
    
    /*Text shadow responsavel por adicionar borda em volta da fonte*/
    text-shadow: 
    -1px -1px 0px #000000, 
    -1px 1px 0px #000000,      
     1px -1px 0px #000000,    
     1px 0px 0px #000000;
}

/*Configuração do paragrafo do banner*/
.banner__promo {
    font-family: "Raleway";
    font-size: 14px;
    font-weight: 600;
    color: #FFFFFF;
    margin: 0 16px 0 16px;
}

/*Configuração do botão do baner*/
.banner__botao {
    width: 119px;
    height: 40px;
    margin: 0 0 16px 16px;
    background-color: #2A7AE4;
    border: 1px solid #2A7AE4;
}

/*Cnfiguraçoes do link do botão*/
.banner__botao a {
    color: #FFFFFF;
    text-decoration: none;
    font-family: "Raleway";
    font-size: 14px;
    font-weight: 600;
}

/*Define o espacamento interno da seção onde aparecerão os produtos*/
.produtos {
    padding: 0 8px 16px 16px;
}

/*Condifgura o titulo da seção de produtos*/
.produtos__titlulo {
    font-family: "Raleway";
    color: #464646;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 16px;
}

/*Configura o botão que levara para a pagina com todos os produtos da seção*/
.produtos__botao {
    background-color: #FFFFFF;
    height: 26px;
    border: none;
    justify-self: flex-end;
    align-self: flex-start;
}

/*Configura o texto do link*/
.produtos__botao a {
    display: flex;
    align-items: center;
    gap: 4px;
    font-family: "Raleway";
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    color: #2A7AE4;
}


/*Transformando o artigo em um grid container */
.secao__produtos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 16px;
    padding-bottom: 8px;
}

.produtos__lista {
    grid-column: span 2; /*Fazendo com que o ul ocupe as duas colunas do grid pois ele ja é um grid por si so*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;   
}

/*Define o card do produto como flex container, ja que todas as informações estão dispostas em uma unica coluna*/
.produto {
    display: flex;
    flex-direction: column;
    width: 156px;
    row-gap: 8px;
    margin-bottom: 8px;
}

/*Configura o texto da discrição do produto*/
.produto__descricao {
    font-family: "Raleway";
    font-size: 14px;
    font-weight: 500;
    color: #464646;
}

/*Configura o texto do preço do produto*/
.produto__preco {
    font-family: "Raleway";
    font-size: 16px;
    font-weight: 700;
    color: #464646;
}

/*Consigura o texto do link que leva ate a pagina do produto*/
.produto__link {
    font-family: "Raleway";
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    color: #2A7AE4;
}

/*Media query adicionada para que os itens 5 e 6 nao aparecam na versão mobile, pois são itens que so aparecem na versção desktop*/
@media screen and (max-width: 768px) {
    .produto__5, .produto__6 {
        display: none;
    }
}

@media screen and (min-width: 768px) {

    .banner{
        background-image: url("/img/Banner__tablet.png");
        background-size: 100vw;
        height: 352px;
        gap: 16px;
    }

    .banner__titulo {
        font-size: 52px;
        margin: 0 32px 0 32px;
    }

    .banner__promo {
        font-size: 22px;
        margin: 0 32px 0 32px;
    }
    
    .banner__botao{
        width: 119px;
        height: 40px;
        margin: 0 0 32px 32px;
    }

    /*Define o espacamento interno da seção onde aparecerão os produtos*/
    .produtos {
        padding: 0 16px 32px 32px;
    }
    
    /*Transformando o artigo em um grid container */
    .secao__produtos {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-top: 32px;
        padding-bottom: 16px;
    }

    .produtos__lista {
        grid-column: span 4; /*Fazendo com que o ul ocupe as duas colunas do grid pois ele ja é um grid por si so*/
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 8px;   
    }
    /*Condifgura o titulo da seção de produtos*/
    .produtos__titlulo {
        grid-column: span 3;
    }

    
}

@media screen and (min-width: 1440px) {
    .banner{
        background-image: url("/img/Banner__desktop.png");
        background-size: 100vw;
        height: 352px;
        gap: 16px;
    }

    .banner__titulo {
        margin: 0 32px 8px 152px;
    }
    .banner__promo {
        margin: 0 32px 8px 152px;
    }
    .banner__botao{
        margin: 0 0 32px 152px;
        height: 51px;
    }

    /*Define o espacamento interno da seção onde aparecerão os produtos*/
    .produtos {
        padding: 0 16px 32px 152px;
    }
    
    /*Transformando o artigo em um grid container */
    .secao__produtos {
        width: 1013px;
        display: grid;
        grid-template-columns: 1fr 1fr ;
        margin-top: 64px;
        padding-bottom: 16px;
    }

    .produtos__lista {
        width: 176px;
        grid-column: span 6; /*Fazendo com que o ul ocupe as duas colunas do grid pois ele ja é um grid por si so*/
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 16px;   
    }
    /*Condifgura o titulo da seção de produtos*/
    .produtos__botao {
        grid-column: 2;  
    }

}