/*Chamando a fonte definida no figma*/
@font-face {
    font-family: 'Raleway';
    src: url(../font/Raleway/Raleway-VariableFont_wght.ttf);
}

.cabecalho {
    height: 72px; /*Define a altura do cabeçalho, determinada no figma*/
    display: flex;
    justify-content: space-around; /*Define a forma do espaçamento entre os itens do cabeçalho*/
    align-items: center;
}

/*faz a configuração da logo da pagina*/
.logo__pagina {
    display: flex;
    align-items: center;
}

/*Define a configuração de tamanho e cor do botão de login*/
.botao__login {
    width: 133px;
    height: 40px;
    background-color: #FFFFFF;
    border: 1px solid #2A7AE4;
    color: #2A7AE4;
    font-weight: bold;
}

/*Define a imagem de fundo do baner e transforma os itens dentro a section em Flex items*/
.banner {
    background-image: url("/img/Banner__mobile.png");
    width: 100vw;
    height: 192px;
    background-repeat: no-repeat;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 8px;
}

/*Configurações do titulo do banner*/
.banner__titulo {
    font-family: "Raleway";
    font-size: 22px;
    font-weight: 700;
    color: #FFFFFF;
    margin: 0 16px 0 16px;
    
    /*Text shadow responsavel por adicionar borda em volta da fonte*/
    text-shadow: 
    -1px -1px 0px #000000, 
    -1px 1px 0px #000000,      
     1px -1px 0px #000000,    
     1px 0px 0px #000000;
}

/*Configuração do paragrafo do banner*/
.banner__promo {
    font-family: "Raleway";
    font-size: 14px;
    font-weight: 600;
    color: #FFFFFF;
    margin: 0 16px 0 16px;
}

/*Configuração do botão do baner*/
.banner__botao {
    width: 119px;
    height: 40px;
    margin: 0 0 16px 16px;
    background-color: #2A7AE4;
    border: 1px solid #2A7AE4;
}

/*Cnfiguraçoes do link do botão*/
.banner__botao a {
    color: #FFFFFF;
    text-decoration: none;
    font-family: "Raleway";
    font-size: 14px;
    font-weight: 600;
}

/*Define o espacamento interno da seção onde aparecerão os produtos*/
.produtos {
    padding: 0 8px 16px 16px;
}

/*Condifgura o titulo da seção de produtos*/
.produtos__titlulo {
    font-family: "Raleway";
    color: #464646;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 16px;
}

/*Configura o botão que levara para a pagina com todos os produtos da seção*/
.produtos__botao {
    background-color: #FFFFFF;
    height: 26px;
    border: none;
    justify-self: flex-end;
    align-self: flex-start;
}

/*Configura o texto do link*/
.produtos__botao a {
    display: flex;
    align-items: center;
    gap: 4px;
    font-family: "Raleway";
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    color: #2A7AE4;
}


/*Transformando o artigo em um grid container */
.secao__produtos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 16px;
    padding-bottom: 8px;
}

.produtos__lista {
    grid-column: span 2; /*Fazendo com que o ul ocupe as duas colunas do grid pois ele ja é um grid por si so*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;   
}

/*Define o card do produto como flex container, ja que todas as informações estão dispostas em uma unica coluna*/
.produto {
    display: flex;
    flex-direction: column;
    width: 156px;
    row-gap: 8px;
    margin-bottom: 8px;
}

/*Configura o texto da discrição do produto*/
.produto__descricao {
    font-family: "Raleway";
    font-size: 14px;
    font-weight: 500;
    color: #464646;
}

/*Configura o texto do preço do produto*/
.produto__preco {
    font-family: "Raleway";
    font-size: 16px;
    font-weight: 700;
    color: #464646;
}

/*Consigura o texto do link que leva ate a pagina do produto*/
.produto__link {
    font-family: "Raleway";
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    color: #2A7AE4;
}

/*Media query adicionada para que os itens 5 e 6 nao aparecam na versão mobile, pois são itens que so aparecem na versção desktop*/
@media screen and (max-width: 360px) {
    .produto__5, .produto__6 {
        display: none;
    }
}

/*Devine o espaçamento minimo que os elementos tem que ter dentro do footer e ja adiciona o background do fale conosco*/
.rodape {
    padding: 16px;
    background-color: #EAF2FD;
}

/*Define a lista de link como um flax container e define os espaçamentos e posição desses links*/
.lista__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

/*Configuração dos links da lista*/
.lista__link a {
    font-family: "Raleway";
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #464646;

}

/*Define o formulario como flex container e define os espaçamentos e posições dos itens*/
.fale__conosco {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/*Configura o titulo do formulario*/
.fale__conosco--titulo{
    font-family: "Raleway";
    font-size: 16px;
    font-weight: 700;
    color: #464646;
}

/*Define as configurações da caixa que recebe o nome*/
.nome {
    width: 320px;
    height: 56px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.16);
    font-family: "Raleway";
    font-weight: 400;
    font-size: 16px;
    padding-left: 8px;
    
}

/*Configura o label que se mantem na caixa enquanto se digita o nome*/
.float__label{
    position: absolute;
    font-family: "Raleway";
    font-weight: 400;
    font-size: 12px;
    margin: 32px 12px 0 10px;
    color: #A2A2A2;

}

/*Define as configurações da caixa que recebe a mensagem*/
.input-padrao {
    width: 320px;
    height: 66px;
    border: none;
    border-radius: 4px;
    margin-top: 8px;
    padding-top: 16px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.16);
    font-family: "Raleway";
    font-weight: 400;
    font-size: 16px;
    padding-left: 8px;
}

/*Configura o placehouder que aparece na caixa da mensagem*/
.input-padrao::placeholder{
    position: absolute;
    font-family: "Raleway";
    font-weight: 400;
    font-size: 16px;
    margin: 0px 4px;
    color: #A2A2A2;
}

/*Configura o botão de enviar*/
.enviar {
    width: 151px;
    height: 40px;
    font-family: "Raleway";
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    color: #FFFFFF;
    background-color: #2A7AE4;
    border: none;

}